.content {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 5px;
}

.addReminder {
    width: 160px;
    margin: 3px;
}

.deleteBtn {
    margin-left: 10px;
}